$character: "\f007"; // user
$entity: "\f67b"; // pastafarianism
$location: "\f015"; // home
$book: "\f02d"; // book

$cancel: "\f05e"; // ban
$check: "\f058"; // check-circle
$append-list: "\f03a"; // list
$download: "\f477"; // file-medical
$append-file: "\f15c"; // file-alt

$close: "\f00d"; // times

$find-names: "\f022"; // list-alt
$clear: "\f2ed"; // trash-alt
$export: "\f56d"; // file-download
$import: "\f574"; // file-upload

$affirm: "\f00c"; // check
$deny: "\f00d"; // times

$box: "\f0c8";
$checked-box: "\f14a";