@use 'richtext';
@use 'colors';
@use 'icons';
@use 'metadata';
@use 'dialogs';
@use 'inputs';
@use 'mediaqueries';

body {
  margin: 0;
  height: 100vh;
  display: grid;


  grid-template-columns:
    minmax(0, auto)
    minmax(auto, 640px)
    minmax(auto, 320px)
    minmax(0, auto);
  grid-template-rows: 3.5em 1fr;

  grid-template-areas:
    ". toolbar meta ."
    ". text meta .";

    background-color: colors.$body-background;

    background-image: url("../../media/tentacles.png"), url("../../media/tentacles.png");
    background-position: top left, top right;
    background-repeat: no-repeat;
}

*:not(.htmltext) > h2 {
  font-size: 0.75em;
  background-color: colors.$header-background;
  padding: 0.5em;
  margin: 0;
  margin-top: 1em;
}

.hidden {
  display: none;
}

.xmlwarning::after {
  content: " Invalid XML warning";
  text-transform: uppercase;
}

label.tab {
  padding: 0.5em 1em;
  background-color: colors.$tab-inactive;
  cursor: pointer;
  border: colors.$border;
  border-bottom: 1px solid colors.$background;
  margin-bottom: -2px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-size: 0.8em;
}

section.toolbar {
  grid-area: toolbar;
  padding: 1em 2em 0em 2em;
  background-color: colors.$background;

  z-index: 1;

  display: grid;
  grid-template-columns: auto min-content;

  section {
    display: flex;
  }

  button {
    display: flex;
    padding: 0;
    font-size: 1em;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    border-radius: 0.25em;
    justify-content: center;

    img {
      width: 1em;
    }
  }

  button:not(:first-of-type) {
    margin-left: 0.25em;
  }
}

main {
  grid-area: text;
  padding: 0em 2em 3em 2em;
  background-color: colors.$background;

  overflow: auto;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content minmax(10em, 1fr);

  textarea {
    display: block;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea.summary {
    min-height: 4em;
  }

  > section {
    display: flex;
    flex-direction: column;
  }

  section.fulltext {
    flex-grow: 1;
    flex-basis: 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title title title"
      "code html ."
      "panel panel panel";

    textarea.textcode {
      min-height: 8em;
      padding: 1em;
    }

    div.html-panel {
      border: colors.$border;
      overflow: auto;
      padding: 1em;
    }

    /* GRID AREA POSITIONING */
    h2 {
      grid-area: title;
    }

    label[for="code"] {
      grid-area: code;
    }

    label[for="html"] {
      grid-area: html;
    }

    div.code-panel,
    div.html-panel {
      grid-area: panel;
      display:flex;
      flex-direction: column;
    }

    div.htmltext {
      overflow: auto;
    }

    div.code-panel textarea {
      flex-grow: 1;
    }

    /* TABS */

    input[type="radio"] {
      display: none;
    }

    #code:disabled ~ label[for="code"],
    #html:disabled ~ label[for="html"] {
      color: colors.$tab-disabled-text;
    }

    #code:checked ~ label[for="code"],
    #html:checked ~ label[for="html"] {
      background-color: colors.$tab-active;
      z-index: 0;
    }

    #code:checked ~ div.code-panel,
    #html:checked ~ div.html-panel {
      display: flex;
    }

    div.code-panel,
    div.html-panel {
      display: none;
    }
  }

}

div.selection-toolbar {
  position: fixed;

  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display:flex;

    button {
      font-size: 1.5em;
      padding: .3em;
      width: 2em;
    }

  }

}